In [2]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv("data_2702_20211201.csv", encoding = "cp949")

In [4]:
df

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,060310,3S,KOSDAQ,중견기업부,3475,75,2.21,3400,3485,3310,161493,554638365,160793507675,46271513
1,095570,AJ네트웍스,KOSPI,NaN,5380,30,0.56,5300,5380,5170,72085,381774050,251903947100,46822295
2,006840,AK홀딩스,KOSPI,NaN,19050,100,0.53,18950,19300,18550,57400,1080361050,252366037050,13247561
3,054620,APS홀딩스,KOSDAQ,중견기업부,13500,350,2.66,13400,13550,12450,131694,1723032700,275321983500,20394221
4,265520,AP시스템,KOSDAQ,우량기업부,21800,500,2.35,21350,22400,20900,146208,3150183550,333134977800,15281421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,000547,흥국화재2우B,KOSPI,NaN,24700,400,1.65,24050,24750,23650,481,11466100,3793920000,153600
2600,000545,흥국화재우,KOSPI,NaN,7420,20,0.27,7400,7500,7390,3061,22673170,5698560000,768000
2601,003280,흥아해운,KOSPI,NaN,2605,5,0.19,2570,2790,2450,1146110,2986885655,626306861895,240424899
2602,037440,희림,KOSDAQ,중견기업부,6060,210,3.59,5940,6080,5720,224547,1334034810,84370198500,13922475
2603,238490,힘스,KOSDAQ,우량기업부,8990,320,3.69,8500,8990,8460,26666,231126110,101697001640,11312236

In [5]:
con = sqlite3.connect("stock.db")

In [6]:
df.to_sql("stock_table",con, index=False, if_exists="replace")

In [7]:
cur = con.cursor()

In [8]:
cur.execute("SELECT * FROM stock_table")

In [9]:
df_col = pd.read_sql("SELECT * FROM stock_table", con)

In [10]:
df_col

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,060310,3S,KOSDAQ,중견기업부,3475,75,2.21,3400,3485,3310,161493,554638365,160793507675,46271513
1,095570,AJ네트웍스,KOSPI,None,5380,30,0.56,5300,5380,5170,72085,381774050,251903947100,46822295
2,006840,AK홀딩스,KOSPI,None,19050,100,0.53,18950,19300,18550,57400,1080361050,252366037050,13247561
3,054620,APS홀딩스,KOSDAQ,중견기업부,13500,350,2.66,13400,13550,12450,131694,1723032700,275321983500,20394221
4,265520,AP시스템,KOSDAQ,우량기업부,21800,500,2.35,21350,22400,20900,146208,3150183550,333134977800,15281421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,000547,흥국화재2우B,KOSPI,None,24700,400,1.65,24050,24750,23650,481,11466100,3793920000,153600
2600,000545,흥국화재우,KOSPI,None,7420,20,0.27,7400,7500,7390,3061,22673170,5698560000,768000
2601,003280,흥아해운,KOSPI,None,2605,5,0.19,2570,2790,2450,1146110,2986885655,626306861895,240424899
2602,037440,희림,KOSDAQ,중견기업부,6060,210,3.59,5940,6080,5720,224547,1334034810,84370198500,13922475
2603,238490,힘스,KOSDAQ,우량기업부,8990,320,3.69,8500,8990,8460,26666,231126110,101697001640,11312236

In [12]:
df2 = pd.read_sql("SELECT 종목코드,종목명,시장구분 FROM stock_table;", con)

In [11]:
df2

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]

In [13]:
df2.to_sql("stock_table2", con, index=False, if_exists="replace")

In [14]:
cur.execute("SELECT * FROM stock_table2")

In [15]:
df3= pd.read_sql("SELECT * FROM stock_table2", con)

In [16]:
df3

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]

In [17]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

# print(cursor.fetchall())  # [('TEST_TABLE_1',), ('TEST_TABLE_2',), ('TEST_TABLE_3',)]
for row in cur:
    print(row[0])

stock_table
stock_table2

In [18]:
con.commit()

In [19]:
con.close()

In [20]:
conn = sqlite3.connect("ETL.db")

# cursor를  생성하기
cur = conn.cursor()

# cur.execute를 통해 SELRCT 쿼리 실행
cur.execute("SELECT * FROM res2_table")

OperationalError: no such table: res2_table

In [29]:
df = pd.read_sql("SELECT * FROM res2_table", conn)

In [30]:
df

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]