# 주식 데이터 수집

In [2]:
import pandas as pd
import time
from pykrx import stock

In [3]:
stock_total = pd.read_csv("stock_list.csv")

In [4]:
stock_total

        종목코드      종목명    시장구분
0     060310       3S  KOSDAQ
1     095570   AJ네트웍스   KOSPI
2     006840    AK홀딩스   KOSPI
3     054620   APS홀딩스  KOSDAQ
4     265520    AP시스템  KOSDAQ
...      ...      ...     ...
2599  000547  흥국화재2우B   KOSPI
2600  000545    흥국화재우   KOSPI
2601  003280     흥아해운   KOSPI
2602  037440       희림  KOSDAQ
2603  238490       힘스  KOSDAQ

[2604 rows x 3 columns]

In [5]:
start_day = "20111201"
end_day = "20211201"

In [7]:
stock_df_total = pd.DataFrame()
for i in range(5):
    stock_code = stock_total['종목코드'][i]
    stock_name = stock_total['종목명'][i]
    market = stock_total['시장구분'][i]
    
 #stock.get_market_ohlcv_by_date 주식데이터 시작일,종료일,티커 파라미터를 넣어주면 일자별로 정렬하여 DataFrame으로 반환한다.
    stock_df = stock.get_market_ohlcv_by_date(fromdate=start_day, todate=end_day, ticker=stock_code) 
    # 위 데이터를 가져오면 날짜,시가,고가,저가,..등만 나오므로 칼럼을 추가해주도록 하자.
    stock_df["종목명"] = stock_name 
    stock_df["종목코드"] = stock_code
    stock_df["시장구분"] = market
    
    
    #time.sleep(0.5) # time.sleep(1) 1초마다 데이터 실행 (데이터가 많으면 한꺼번에 처리하려해 서버 팅길수 있으므로 설정 )
#     print(str(i) + " 번째 "+ stock_name) # 잘 실행되는지 확인하기위해 설정 해주었다.
    print(stock_code)
    # pd.concat 데이터 프레임 이어 붙히기
#     stock_df_total = pd.concat([stock_df_total,stock_df])

060310
095570
006840
054620
265520

In [98]:
stock_df_total

               시가     고가     저가     종가      거래량 종목명    종목코드    시장구분
날짜
2011-12-01  17426  17822  16040  17229  1036154  3S  060310  KOSDAQ
2011-12-02  17624  19208  16882  18169  1513549  3S  060310  KOSDAQ
2011-12-05  19109  20892  18317  20892  1112153  3S  060310  KOSDAQ
2011-12-06  22179  24011  21585  24011  1145965  3S  060310  KOSDAQ
2011-12-07  24258  25545  21337  23318  2078912  3S  060310  KOSDAQ
...           ...    ...    ...    ...      ...  ..     ...     ...
2021-11-25   9560   9560   9370   9440    18484  힘스  238490  KOSDAQ
2021-11-26   9370   9520   9170   9170    38648  힘스  238490  KOSDAQ
2021-11-29   8700   9100   8700   8990    56307  힘스  238490  KOSDAQ
2021-11-30   8910   9040   8400   8670    49761  힘스  238490  KOSDAQ
2021-12-01   8500   8990   8460   8990    26666  힘스  238490  KOSDAQ

[5001976 rows x 8 columns]

In [102]:
stock_df_total =stock_df_total.reset_index()

In [103]:
stock_df_total

                날짜     시가     고가     저가     종가      거래량 종목명    종목코드    시장구분
0       2011-12-01  17426  17822  16040  17229  1036154  3S  060310  KOSDAQ
1       2011-12-02  17624  19208  16882  18169  1513549  3S  060310  KOSDAQ
2       2011-12-05  19109  20892  18317  20892  1112153  3S  060310  KOSDAQ
3       2011-12-06  22179  24011  21585  24011  1145965  3S  060310  KOSDAQ
4       2011-12-07  24258  25545  21337  23318  2078912  3S  060310  KOSDAQ
...            ...    ...    ...    ...    ...      ...  ..     ...     ...
5001971 2021-11-25   9560   9560   9370   9440    18484  힘스  238490  KOSDAQ
5001972 2021-11-26   9370   9520   9170   9170    38648  힘스  238490  KOSDAQ
5001973 2021-11-29   8700   9100   8700   8990    56307  힘스  238490  KOSDAQ
5001974 2021-11-30   8910   9040   8400   8670    49761  힘스  238490  KOSDAQ
5001975 2021-12-01   8500   8990   8460   8990    26666  힘스  238490  KOSDAQ

[5001976 rows x 9 columns]

In [104]:
stock_df_total.to_csv("stock_df_total.csv", index = False)